body
{
background-image: url(https://www.elegantthemes.com/blog/wp-content/uploads/2013/09/bg-3-full.jpg);
image-rendering:optimizeQuality;
background-size: cover;
flex-direction: column;
display: flex;
justify-content:left;
}
.container {
position: relative;
width: 100%;
text-align: center;
}.text1
{
    position:relative;
width: 1246px;
height: 103px;
left: 104px;
top: 74px;
font-family: 'Island Moments';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 147px;
display: flex;
align-items: center;
justify-self: center;
text-align: center;
color: #FFFFFF;
}
.pic1
{
position: relative;
filter: drop-shadow(15px 10px 4px rgba(0, 0, 0, 0.25));
}
.pic2
{
width: 757px;
height: 79px;
left: 532px;
top: 2126px;
background: url();
}
.pic3
{
width: 1364px;
height: 85px;
left: 40px;
top: 84px;
background: url();
border-radius: 35px;
}

line
{
width: 1400px;
height: 1.83px;
left: 20px;
top: 124px;
border: 5px solid #000000;
transform: matrix(1, 0, 0, 1, 0, 0);
}

.text3
{
width: 380px;
height: 70px;
left: 120px;
top: 639px;
font-family: 'Just Me Again Down Here';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 192px;
display: flex;
align-items: center;
text-align: center;
color: #000000;
}
.pic4
{
width: 426px;
}
.pic5
{
width: 713px;
height: 377px;
left: 630px;
top: 996px;
background: url();
box-shadow: 10px 15px 4px rgba(0, 0, 0, 0.25);
}
.pic6
{
width: 713px;
height: 186px;
left: 630px;
top: 769px;
background: url();
border-radius: 25px;
}
.text4
{
width: 648px;
height: 127px;
left: 662px;
top: 800px;
font-family: 'Holtwood One SC';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 208px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
}
.pic7
{
width: 1246px;
height: 231px;
left: 97px;
top: 1433px;
background: url(Checker.png);
border-radius: 25px;
}
.text3
{
width: 1246px;
height: 106px;
left: 97px;
top: 1487px;
font-family: 'Jacques Francois Shadow';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 169px;
display: flex;
align-items: center;
text-align: center;
color: #000000;
}
.pic9
{
width: 846px;
height: 343px;
left: 121px;
top: 1783px;
background: #D9D9D9;
box-shadow: 10px 15px 4px rgba(0, 0, 0, 0.25);
}
.pic10
{
width: 323px;
height: 343px;
left: 1020px;
top: 1783px;
background: #D9D9D9;
box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
}
.text6
{
width: 323px;
height: 48px;
left: 1027px;
top: 1724px;
font-family: 'Island Moments';
font-style: normal;
font-weight: 400;
font-size: 200px;
line-height: 230px;
display: flex;
align-items: center;
text-align: center;
color: #000000;
}
.text5
{
width: 1246px;
height: 230px;
left: 104px;
top: 255px;
font-family: 'Luxurious Roman';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;
display: flex;
align-items: center;
text-align: center;
color: #000000;
}